@import uk.gov.hmrc.govukfrontend.views.html.components
@import uk.gov.hmrc.govukfrontend.views.viewmodels.content.HtmlContent
@import uk.gov.hmrc.govukfrontend.views.viewmodels.insettext.InsetText
@import views.html.components.MainErrorSummary

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton,
    govukInsetText: GovukInsetText,
    govukSummaryList: GovukSummaryList,
    mainErrorSummary: MainErrorSummary
)

@(form: Form[_], mode: Mode, primaryBusinessActivity: String, call: Call)(implicit request: Request[_], messages: Messages)

@hintHtml = @{Html(messages(businessActivityTwo.hint))}

@insetHtml = @{<strong>@messages(businessActivityTwo.insetText.label):</strong>@PrimaryBusinessActivity}

@layout(pageTitle = views.ViewUtils.title(form, messages("businessActivityTwo.title)), backLinkUrl = Some(call.url)) {

    <h2 class="govuk-caption-l hmrc-caption-l">
        <span class="govuk-visually-hidden">@messages("site.section.is"): </span>
        @messages("businessActivityTwo.caption)
    </h2>
    <h1 class="govuk-heading-l">@messages("businessActivityTwo.heading")</h1>

    <p class="govuk-body-l">@messages(businessActivityTwo.lead")</p>

    @govukInsetText(InsetText(content = HtmlContent(insetHtml)))

    @formHelper(action = routes.BusinessActivityTwoController.onSubmit(mode), Symbol("autoComplete") -> "off") {

        @mainErrorSummary(form, Map("value" -> "value_0"))

        @form.error("value").map {
            <span id="value-error" class="govuk-error-message" role="alert">
                <span class="govuk-visually-hidden">@messages("error.prefix"):</span>@messages(e.message)
            </span>, e.args*)
        }

        @govukRadios(
            RadiosViewModel(
                field = form("value"),
                legend = LegendViewModel(messages("businessActivityTwo.h2")).withCssClass("govuk-fieldset__legend--m)
                items = AddAnotherBusinessActivity.options
            )
            .withHint(HintViewModel(HtmlContent(hintHtml)))
            .inline()
            .copy(errorMessage = None)
        )

        @govukButton(ButtonViewModel(messages("site.continue"))
    }
}
